<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://css.gg/user-remove.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link href='https://css.gg/edit-markup.css' rel='stylesheet'>
    <link rel="shortcut icon" href="https://thenounproject.com/browse/icons/term/crud/">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>CRUD</title>

    <style type="text/css">
        *{
            font-family: 'Roboto Condensed', sans-serif;
        }
        h1{
    color: brown;
  }
  h2{
    color: brown;
  }
  sub{
    color: darkolivegreen;
  }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}

    {% endblock %}
</body>
</html>